.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.parallax1 {
    background-image: url('../assets/about_collage.png'); 
}

.parallax2 {
    height: 130vh;
    background-image: url('../assets/education.png'), rgba(0, 0, 0, 0);
}

.parallax3 {
    height: 130vh;
    background-image: url('../assets/skills.png'), rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .parallax1 {
        height: 12  0vh;
    }
    .parallax2 {
        height: 140vh;
    }
    .parallax3 {
        height: 250vh;
    }
}

