.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.parallax1 {
    background-image: url('../assets/about/about_collage.png');
}

@media screen and (max-width: 768px) {
    .parallax1 {
        height: 120vh;
    }
}

