@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
}

.App {
  font-family: "Poppins";
  background-color: #151515;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url("assets/background.png");
  height: 100%;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: rgb(59 130 246);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 114, 255);
}
