@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

html {
  scroll-behavior: smooth;
  background-color: #151515;
}

.App {
  font-family: "Poppins";
  background-color: #151515;
  /* min-height: 100vh; */
  height: 100%;
  color: white;
  /* cursor: url("assets/custom_cursor.png"), auto; */
}

